@font-face {
  font-family: Roboto-Regular;
  src: url('./fonts/Roboto-Regular.ttf') format('woff2');
}

@font-face {
  font-family: Roboto-Light;
  src: url('./fonts/Roboto-Light.ttf') format('woff2');
}*/

:root {
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;

  --width-offset: calc(100% - (2 * var(--offset)));
}

html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color:#2de46a;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

nav {
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 2rem;
  margin-bottom: auto;
  color: rgb(182, 36, 65);
}

.navcard {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  /* margin: 1rem; */
  justify-content: flex-end;
}

.lysingar {
  font-size: 30px;
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 3rem;
  margin-bottom: 0.5em;
  color: rgb(175, 43, 70);
}

/* h3 {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.5rem;
  margin-bottom: auto;
} */

h5 {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  color: #177b38;
}

p {
  margin-bottom: 0.5rem;
  font-family: Roboto-Light;
  font-weight: bold;
}

.forvari {
  text-align: center;
  background-color: rgb(225, 225, 47);
  border: 2px solid black;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  max-width: 75%;
}

nav li {
  list-style-type: none;
}

.nestisdiv {
  margin-bottom: 0.25rem;
}

.nestisdiv li {
  margin-bottom: 0.15rem;
}

li {
  font-family: Roboto-Regular;
  margin-bottom: 0.5rem;
  border-width: 10px solid rgb(237, 4, 4);
}

.card li {
  font-family: Roboto-Regular;
  margin-bottom: 0.5rem;
  /*border-bottom: 2px solid rgb(4, 66, 237);*/
}

.hringir p {
  font-family: Roboto-Light;
  font-size: 0.66rem;
  margin-bottom: 0.5rem;
}

/*li:hover {
  background-color: #21d624;
}*/

.centered-list {
  display: flex;
  justify-content: center;
}

.centered-list ul {
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.backtoindex {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.25srem;
  margin-bottom: 0.25rem;
  margin-top: 4rem;
  font-weight: bolder;
}

a {
  color: rgb(175, 43, 70);
  text-decoration: none;
  justify-content: stretch;
}

a:link {
  color: rgb(175, 43, 70);
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

/* a:visited {
  color: green;
} */

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
  max-width: fit-content;
}

.card-container {
  display: block;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 10px;
  max-width: 600px; 
  margin: 0 auto;
}

.card {
  /*padding: 20px;*/
  text-align: left;
  border-radius: 8px;
  margin: 2rem;
  justify-content: center;
}

footer {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.25rem;
  margin-top: 2rem;
  color: rgb(175, 43, 70);
}

.footer-nav {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column; 
    /* align-items: center;  */
  }

  .card {
    margin: 0.5rem;
  }

  .card-container {
    display: flex; /* Breytir cards í lóðrétt */
    flex-direction: column;
    gap: 15px;
  }

  .navcard {
    margin-bottom: 10px;
  }

  .forvari {
    text-align: center;
    background-color: yellow;
    border: 2px solid black;
    justify-content: center;
    padding-top: 2rem;
    margin-top: 5rem;
    max-width: 75%;
  }

  footer {
    text-align: center;
    font-family: Roboto-Light;
    font-size: 1.25rem;
    margin-top: 2rem;
    color: rgb(175, 43, 70);
    list-style-type: none;
  }
}
