@font-face {
  font-family: Roboto-Regular;
  src: url('./fonts/Roboto-Regular.ttf') format('woff2');
}

@font-face {
  font-family: Roboto-Light;
  src: url('./fonts/Roboto-Light.ttf') format('woff2');
}

body {
  background-color:#66FF99;
}

h1 {
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 3rem;
  margin-bottom: auto;
  color: crimson;
}

h3 {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.5rem;
  margin-bottom: auto;
}

h5 {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.5rem;
  margin-bottom: auto;
}

/*li {
  text-align: center;
  font-family: Roboto-Regular;
  list-style-type: none;
}*/

.centered-list {
  display: flex;
  justify-content: center;
}

.centered-list ul {
  padding: 0;
  text-align: left;
  list-style-type: none;
}

a:link {
  color:darkred;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

a:visited {
  color: green;
}