@font-face {
  font-family: Roboto-Regular;
  src: url('./fonts/Roboto-Regular.ttf') format('woff2');
}

@font-face {
  font-family: Roboto-Light;
  src: url('./fonts/Roboto-Light.ttf') format('woff2');
}

/* html {
  position: relative;
} */

body {
  background-color:#66FF99;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

nav {
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 2rem;
  margin-bottom: auto;
  color: crimson;
}

.navcard {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  /* margin: 1rem; */
  justify-content: flex-end;
}

h1 {
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 3rem;
  margin-bottom: auto;
  color: crimson;
}

/* h3 {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.5rem;
  margin-bottom: auto;
} */

h5 {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  color: #177b38;
}

p {
  margin-bottom: 0.5rem;
  font-family: Roboto-Light;
  font-weight: bold;
}

nav li {
  list-style-type: none;
}

li {
  font-family: Roboto-Regular;
  margin-bottom: 0.25rem;
}

.centered-list {
  display: flex;
  justify-content: center;
}

.centered-list ul {
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.backtoindex {
  text-align: center;
  font-family: Roboto-Light;
  font-size: 1.25srem;
  margin-bottom: 0.25rem;
  margin-top: 4rem;
  font-weight: bolder;
}

a {
  color: crimson;
  text-decoration: none;
}

a:link {
  color:crimson;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

/* a:visited {
  color: green;
} */

.cards {
  display: flex;
  justify-content: center;
}

.card-container {
  display: block;
  grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
  gap: 10px; /* Space between the cards */
  max-width: 600px; /* Optional, to control overall width */
  margin: 0 auto; /* Center the grid container */
}

.card {
  padding: 20px;
  text-align: left;
  border-radius: 8px;
  margin: 1rem;
}

.forvari {
  text-align: center;
}

/* Switch to 2 columns on smaller screens */
@media (max-width: 600px) {
  .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}
